.local_a {
	position: relative;
	top: 220px;
	height: 70px;

}

.local_b {
	position: relative;
	top: 250px;
	height: 70px;

}

.local_rio {
	position: relative;
	top: 260px;
	height: 5%;

}

.itens{
	cursor: pointer;
	height: 70px;
	width: 50px;
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: bottom;
}

.item_indio{

	background-image: url("imagens/indio.png");
}

.item_onca{

	background-image: url("imagens/onca.png");
}

.item_tatu{
	
	background-image: url("imagens/tatu.png");
}

.item_milho{

	background-image: url("imagens/milho.png");
}

.item_canoa{
	height: 100px;
	background-size: 100%;
	background-image: url("imagens/canoa.png");
	background-repeat: no-repeat;
	background-position: bottom;
}

.janela_jogo{
	height: 384px;
	width: 576px;
	background-image: url("imagens/fundo.jpg");
	background-repeat: no-repeat;
	background-size: 100%;
	
}

.game_over{
	background-color: #808080;
	opacity: 0.5;
}

